<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
</head>
<body>
    <div id="app">
        <h2>input</h2>
        <input type="input" v-model="message">
        <span>{{ message }}</span>

        <h2>複数行テキスト</h2>
        <textarea v-model="message2">{{ message2 }}</textarea>
        <pre>{{ message2 }}</pre>

        <h2>チェックボックス</h2>
        <label>
            <input type="checkbox" v-model="val">{{ val }}
        </label>
        <br/><br/>
        <label>
            <input type="checkbox" v-model="vals" value="A">A</label>
            <input type="checkbox" v-model="vals" value="B">B</label>
            <input type="checkbox" v-model="vals" value="C">C</label>
        </label>
        <p>vals: {{ vals }}</p>

        <h2>ラジオボタン</h2>
        <label>
            <input type="radio" v-model="radio" value="A">A</label>
            <input type="radio" v-model="radio" value="B">B</label>
            <input type="radio" v-model="radio" value="C">C</label>
        </label>
        <p>radio: {{ radio }}</p>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
<script>
var app = new Vue({
    el: '#app',
    data: {
        message: 'Hello!',
        message2: 'Hello 2\nVue js!\n\n\n',
        val: true,
        vals: [],
        radio: 'C'
    }
});
</script>
</body>
</html>